/** Used in ComponentWidget class **/

QFrame#ComponentWidget {
    width:250px;
    height:48px;
    background:rgba(0,0,0,0.03);
    border-radius:8px;
}

QFrame#ComponentWidget::hover {
    width:250px;
    height:48px;
    background:rgba(255,255,255,1) rgba(0,0,0,0.1);
    border-radius:8px;
}

QFrame#ComponentWidget::pressed {
    width:250px;
    height:48px;
    background:rgba(255,255,255,1) rgba(0,0,0,0.1);
    border-radius:8px;
}

QFrame#ComponentWidget::disabled {
    width:250px;
    height:48px;
    background:rgba(255,255,255,1) rgba(0,0,0,0.1);
    border-radius:8px;
}
QFrame#ComponentWidget[isHead=true] {
    width:95px;
    height:20px;
    font-size:14px;
/*    font-family:SourceHanSansSC-Medium,SourceHanSansSC;*/
    font-weight:500;
    color:rgba(65,77,104,1);
    line-height:20px;
}
QFrame#ComponentWidget[isTail=true] {
    width:186px;
    height:18px;
    font-size:12px;
/*    font-family:SourceHanSansSC-Normal,SourceHanSansSC;*/
    font-weight:400;
    color:rgba(82,106,127,1);
    line-height:18px;
}
