/** Used in ComponentWidget class **/

QFrame#ComponentWidget {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.2);
}

QFrame#ComponentWidget::hover {
  background-color: rgba(255, 255, 255, 0.3);
}

QFrame#ComponentWidget::pressed {
  color: #2ca7f8;
  background-color: rgba(255, 255, 255, 0.1);
}

QFrame#ComponentWidget::disabled {
    color: rgba(255, 90, 90, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
}
QFrame#ComponentWidget[isHead=true] {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
QFrame#ComponentWidget[isTail=true] {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
