/** Used in frameSelectedWidget class **/

QLabel#titleLabel {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

QFrame#frameSelectedWidget {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.1);
}

QFrame#frameSelectedWidget::hover {
  background-color: rgba(255, 255, 255, 0.4);
}

QFrame#frameSelectedWidget::pressed {
  color: #2ca7f8;
  background-color: rgba(255, 255, 255, 0.1);
}

QFrame#frameSelectedWidget::disabled {
    color: rgba(255, 90, 90, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
}

QRadioButton {
  color: white;
  background: transparent;
}

QRadioButton::indicator {
  width: 16px;
  height: 16px;
}

QRadioButton::indicator:unchecked {
  image: url(":/images/radio_unchecked.svg");
}

QRadioButton::indicator:checked {
  image: url(":/images/radio_checked.svg");
}

#frameSelectedListWidget {
    border-radius: 5px;
    background: rgba(255, 255, 255, 25);
}
