/** Used in InstallFailedFrame class **/

QLabel {
    color: white;
}

QFrame#content_frame {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}

QScrollBar:vertical
{
    width:8px;
    background:rgba(0,0,0,0%);
    margin:0px,0px,0px,0px;
    padding-top:9px;
    padding-bottom:9px;
}
QScrollBar::handle:vertical
{
    width:8px;
    background:rgba(0,0,0,25%);
    border-radius:4px;
    min-height:20;
}
QScrollBar::handle:vertical:hover
{
    width:8px;
    background:rgba(0,0,0,50%);
    border-radius:4px;
    min-height:20;
}

QScrollBar::add-line:vertical {
    border: 0px;
    width: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 0px;
    width: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

#plainTextEdit {
    background: rgba(255, 255, 255, 25.5);
}

#plainTextEdit {
  font-size: 14px;
  line-height: 44px;
  color: rgba(255, 255, 255, 0.5);
}

#control_button {
  border: none;
  outline: none;
  color: #eaeaea;
  margin: 0;
  padding: 0;
  /* NOTE(xushaohua): Do not optimize css properties */
  background-clip: border;
  background-origin: padding;
  background-repeat: no-repeat;
  background-position: center center;

  background-image: url(:/images/QR_normal.svg);
}

#control_button:hover {
  background-image: url(:/images/QR_hover.svg);
}

#control_button:pressed {
  background-image: url(:/images/QR_press.svg);
}
