/** Used in NewPartitionFrame class */

#new_partition_frame {
  background: transparent;
}

#separator_label {
  background: rgba(255, 255, 255, 0.1);
}

#type_label, #alignment_label, #mount_point_label, #fs_label, #size_label {
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  text-align: right;
}

QScrollBar:vertical
{
    width:8px;
    background:rgba(0,0,0,0%);
    margin:0px,0px,0px,0px;
    padding-top:9px;
    padding-bottom:9px;
}
QScrollBar::handle:vertical
{
    width:8px;
    background:rgba(0,0,0,25%);
    border-radius:4px;
    min-height:20;
}
QScrollBar::handle:vertical:hover
{
    width:8px;
    background:rgba(0,0,0,50%);
    border-radius:4px;
    min-height:20;
}

QScrollBar::add-line:vertical {
    border: 0px;
    width: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 0px;
    width: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
