/** Used in SystemInfoFormFrame class **/

QCheckBox#autoSyncTimeCheckBox {
    color: white;
    background: transparent;
}

QCheckBox#autoSyncTimeCheckBox::indicator {
    width: 16px;
    height: 16px;
}

QCheckBox#autoSyncTimeCheckBox::indicator:unchecked {
    image: url(":/images/checkbox_unchecked.svg");
}

QCheckBox#autoSyncTimeCheckBox::indicator:unchecked:hover {
    image: url(":/images/checkbox_unchecked_hover.svg");
}

QCheckBox#autoSyncTimeCheckBox::indicator:unchecked:pressed {
    image: url(":/images/checkbox_unchecked_pressed.svg");
}

QCheckBox#autoSyncTimeCheckBox::indicator:checked {
    image: url(":/images/checkbox_checked.svg");
}

QCheckBox#autoSyncTimeCheckBox::indicator:checked:hover {
    image: url(":/images/checkbox_checked_hover.svg");
}

QCheckBox#autoSyncTimeCheckBox::indicator:checked:pressed {
    image: url(":/images/checkbox_checked_pressed.svg");
}

QLineEdit {
  /* NOTE(chenxiong): Do not setup border-line-style: solid, or else an
  unexpected line will be drawn around border of line edit. */
  font-size: 12px;
  text-align: right;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

QLabel#subTitleLabel, QLabel#hourLabel, QLabel#minuteLabel {
    font-size: 12px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: transparent;
}

QLabel#yearLabel, QLabel#monthLabel, QLabel#dayLabel {
    font-size: 12px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: transparent;
}

QPushButton#addButton {
  text-align: center;

  font-size: 12px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  border-image: url(":/images/add-normal.svg");
}

QPushButton#addButton:hover {
  border-image: url(":/images/add-hover.svg");
}

QPushButton#addButton:disable {
  border-image: url(":/images/add-disabled.svg");
}

QPushButton#addButton:pressed {
  border-image: url(":/images/add-pressed.svg");
}

QPushButton#minusButton {
  text-align: center;

  font-size: 12px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  border-image: url(":/images/minus-normal.svg");
}

QPushButton#minusButton:hover {
  border-image: url(":/images/minus-hover.svg");
}

QPushButton#minusButton:disable {
  border-image: url(":/images/minus-disabled.svg");
}

QPushButton#minusButton:pressed {
  border-image: url(":/images/minus-pressed.svg");
}

QWidget#bgWidget
{
    border-radius: 4px;

    border: none;
    outline: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}
