QPushButton#setTimePushButton[flat="true"] {
  border: none;
  outline: none;
  color: #eaeaea;
}

#setTimePushButton {
  border: none;
  padding: 0 0 0 30px;
  font-size: 14px;
  /* NOTE: Do not optimize css properties */
  background-clip: border;
  background-origin: padding;
  background-repeat: no-repeat;
  background-position: center left;
}

#timezoneMapButton, #timezoneListButton {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background: transparent;
  outline: none;
  margin: 0px;
  padding: 10px;
}

#timezoneMapButton {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

#timezoneListButton {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left-style: none;
}

#timezoneMapButton::checked {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-right-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

#timezoneListButton::checked {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-left-style: none;
}

QScrollBar:vertical
{
    width:8px;
    background:rgba(0,0,0,0%);
    margin:0px,0px,0px,0px;
    padding-top:9px;
    padding-bottom:9px;
}
QScrollBar::handle:vertical
{
    width:8px;
    background:rgba(0,0,0,25%);
    border-radius:4px;
    min-height:20;
}
QScrollBar::handle:vertical:hover
{
    width:8px;
    background:rgba(0,0,0,50%);
    border-radius:4px;
    min-height:20;
}

QScrollBar::add-line:vertical {
    border: 0px;
    width: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 0px;
    width: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
