[Unit]
Description=Launch installer in normal mode

[Service]
Type=simple
ExecStart=/usr/bin/fbterm -n CESI_KT_GB13000 /usr/bin/deepin-installer-cli
StandardInput=tty-force
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes


