[Unit]
Description=Launch installer in normal mode
After=getty@tty2.service

[Service]
Type=simple
ExecStart=/usr/bin/fbterm /usr/bin/deepin-installer-cli
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=no
TTYVHangup=yes
Restart=always

