[Unit]
Description=Launch installer in normal mode

[Service]
Type=simple
ExecStart=/usr/bin/fbterm -n CESI_XBS_GB2312 --font-size=15 --font-width=9 --font-height=20 /usr/bin/deepin-installer-cli
StandardInput=tty-force
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes


