[Unit]
Description=Launch installer in normal mode

[Service]
Type=forking
ExecStart=/usr/bin/deepin-installer-both
User=root
[Install]
WantedBy=deepin-installer.target
